In [35]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from seaborn import scatterplot, heatmap

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin
pd.set_option("display.max_rows", None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:
df = pd.read_csv('datasets/dataset_salaries.csv')
pd.set_option("display.max_rows", None)

In [37]:
df.drop(['tag','otherdetails','dmaid','rowNumber','cityid','timestamp'], axis=1, inplace=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62642 entries, 0 to 62641
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   company                  62637 non-null  object
 1   level                    62527 non-null  object
 2   title                    62642 non-null  object
 3   totalyearlycompensation  62642 non-null  int64
 4   location                 62642 non-null  object
 5   yearsofexperience        62642 non-null  int64
 6   yearsatcompany           62642 non-null  int64
 7   basesalary               62642 non-null  int64
 8   stockgrantvalue          62642 non-null  int64
 9   bonus                    62642 non-null  int64
 10  gender                   43102 non-null  object
dtypes: int64(6), object(5)
memory usage: 5.3+ MB

In [56]:
df = (df[df["basesalary"] != 0] ).copy()
df.reset_index(drop=True, inplace=True)
df['gender'].replace('Title: Senior Software Engineer',np.nan,inplace=True)

In [5]:
df[0:5000]

                             company                                   level  \
0                             Oracle                                      L3
1                             Amazon                                      L7
2                          Microsoft                                      64
3                             Amazon                                      L5
4                              Apple                                      M1
5                             Amazon                                      L5
6                          Microsoft                                      65
7                          Microsoft                                      62
8                               Uber                 Engineer Manager I (L5)
9                          Microsoft                                      63
10                         Microsoft                                      59
11                        Salesforce                                       9
12                         Microsoft                                   Sde 2
13                         Microsoft                                      63
14                         Microsoft                                      61
15                            Amazon                                      L6
16                            Amazon                                      L5
17                          Facebook                                      E6
18                            Amazon                                  SDE II
19                              Oath                                     IC4
20                            Google                                      L5
21                        Salesforce                                    SMTS
22                         Microsoft                                     L63
23                         Microsoft                                      67
24                            Amazon                                      L6
25                            Amazon                                      L7
26                         Microsoft                                      61
27                            Oracle                                      M4
28                         Microsoft                                      65
29                         Microsoft                                      60
30                             Apple                                    Ict3
31                         Microsoft                                      63
32                            Amazon                                      L5
33                            Google                                      L4
34                            Amazon                                      L5
35                           Netflix                Senior Software Engineer
36                             Apple                                    ICT2
37                            Amazon                                      L5
38                         Microsoft                                      65
39                              Uber                                      II
40                        Salesforce                                  Senior
41                         Microsoft                                      63
42                             Apple                                    ICT2
43                           Expedia                                       L
44                         Microsoft                                      66
45                         Microsoft                                      69
46                            Amazon                                      L5
47                            Amazon                                      L5
48                            Zillow                                   SDE 2
49                              Uber         Senior Software Engineer 2 (5b)
50                            Amazon                                      L6
51                              eBay        Senior Member of Technical Staff
52                             Apple                                    ICT4
53                         Microsoft                                      61
54                        Salesforce                                Lead MTS
55                          Facebook                                      E4
56                            Amazon                                      L6
57                            Amazon                                      L6
58                          Linkedin                       Software Engineer
59                            Intuit                                   Staff
60                            Amazon                                      L6
61                            Amazon                                      L7
62                            Amazon                                      L4
63                            Amazon                                       5
64                            Amazon                                      L6
65                            Amazon                                      L5
66                            Amazon                                       5
67                            Amazon                                      L6
68                            Amazon                                      L4
69                            Amazon                                      L5
70                            Amazon                                       6
71                            Amazon                                      L5
72                         Microsoft                                      64
73                             Apple                                    ICT3
74                          Linkedin                                  Senior
75                          Linkedin                       Software Engineer
76                             Yahoo                                     IC4
77                         Pinterest                                      L5
78                            Amazon                                   SDE 3
79                         Microsoft                                      63
80                             Adobe                                Director
81                         Microsoft                                      64
82                          LinkedIn                                   Staff
83                          LinkedIn                                   Staff
84                            Amazon                                      L8
85                            amazon                                      L5
86                        Salesforce                                    LTMS
87                          Symantec                        Senior Principal
88                 Dell Technologies                                      L8
89                            Amazon                                      L6
90                         Microsoft                                      63
91                             Apple                                    ICT4
92                         Microsoft                                      63
93                            VMware                                   MTS 1
94                          Facebook                                      E6
95                          Facebook                                      E6
96                 Intel Corporation                                      L7
97                              Uber              Senior Software Engineer I
98                            Amazon                                      L4
99                          Facebook                                      E3
100                         Facebook                                      E5
101                           Google                                      L4
102                       SalesForce                                Director
103                        Microsoft                                      63
104                           Amazon                                      L5
105                           Amazon                                      L4
106                            Intel                                      G6
107                           Amazon                                      L6
108                             Uber                                      L4
109                           Google                                      T5
110                        Microsoft                                      67
111                           Amazon                                      L5
112                           Amazon                                      L4
113                            Apple                                      M1
114                           Google                                      T3
115                        Microsoft                                     L61
116                           Google                                      L4
117                        Microsoft                                      63
118                           Oracle                                     IC3
119                        Microsoft                                      63
120                            Apple                                    ICT3
121                           Google                                      L4
122                             Snap                                      L4
123                           Google                                      L7
124                           Amazon                                      L6
125                        Microsoft                                      61
126                             Lyft                                      T5
127                             Sony                                      L2
128                        Microsoft                                      61
129                        Microsoft                                      59
130                        Microsoft                                      62
131                        Microsoft                                      67
132                           Amazon                                      L5
133                             Uber                                  Senior
134                           Google                                       7
135                         Linkedin                         Product Manager
136                            Adobe                     Software Engineer 3
137                         Facebook                                      E4
138                           Cruise                                     IC2
139                         Facebook                                      E4
140                           Amazon                                      L5
141                           Google                                      T3
142                             Yelp                                New Grad
143                        Microsoft                                      63
144                        Microsoft                                      64
145                        Microsoft                                      10
146                           Amazon                                      L5
147                           VMware                                   MTS 3
148                           Amazon                                      L5
149                           Google                                      L4
150                         Facebook                                      E4
151                           Amazon                                      L6
152                      CoverMyMeds                                    Mid?
153                        Microsoft                                      64
154                           Amazon                                      L6
155                         Facebook                                      E3
156                           Google                                      T5
157                           Airbnb                                      L4
158                        Microsoft                                      61
159                         Facebook                                       6
160                           Google                                      T2
161                           Amazon                                      L6
162                           Amazon                                      L4
163                           Google                                      L4
164                           Google                                      L3
165                           Amazon                                      L4
166                           Google                                      T5
167                        Microsoft                                      59
168                            Yahoo                                     IC5
169                         Facebook                                      E6
170                        Microsoft                                      64
171                            Yahoo                                     IC4
172                           Nvidia                                      L4
173                              SAP                                    T4PF
174                           Amazon                                       6
175                           Google                                      T5
176                           Google                                      L7
177                           Amazon                                      L5
178                           Google                                      T5
179                     Credit Karma                                    SWE1
180                        Microsoft                                      61
181                           Google                                      E3
182                           Amazon                                      L4
183                            Apple                                    ICT2
184                             Yelp                                  Senior
185                           Amazon                               L5 / SDE2
186                           Amazon                                      L4
187                     Walmart Labs                                      L5
188                         Facebook                                      E5
189                           VMWare                                   MTS 3
190                         LinkedIn                       Software engineer
191                            Apple                                    ICT4
192                           Google                                      T7
193                         Facebook                                       5
194                         Facebook                                      E5
195                           Amazon                                      L6
196                          Twitter                                  Senior
197                            Slack                                     G03
198                           Airbnb                                      L7
199                           vmware                                   Staff
200                           Google                                      L3
201                       Salesforce                                    LMTS
202                 Tableau Software                                  Senior
203                            Apple                                    ICT3
204                            Yahoo                                     IC2
205                         Facebook                                      E5
206                           Amazon                                      L4
207                           Oracle                                     IC3
208                           Amazon                                      L6
209                        Microsoft                                      64
210                            Cisco                                      G6
211                           Google                                      L3
212                           Splunk                                      P4
213                           Google                                      L4
214                        Microsoft                                      65
215                           Google                                      T3
216                           Amazon                                   SDE I
217                        Microsoft                                      64
218                             Uber                                      L3
219                           Splunk                                       5
220                           Amazon                                      L4
221                           Airbnb                                      L5
222                           Amazon                                  SDE II
223                           Amazon                                      L6
224                         Mixpanel                           L2 (new grad)
225                             Ebay                                    MTS2
226                           VMWare                       Staff Engineer II
227                           Amazon                                      L5
228                          Verizon                               Principal
229                           Google                                      L5
230                          Netflix                Senior Software Engineer
231                        Microsoft                                      59
232                            Apple                                    ICT2
233                        Microsoft                                      62
234                             Uber                                  Senior
235                           Google                                      T6
236                             eBay                                    MTS1
237                        Microsoft                                      64
238                        MICROSOFT                                      64
239                           Amazon                                       7
240                           amazon                                      L5
241                             Oath                                     IC4
242                           Amazon                                      L6
243                           Airbnb                                      L4
244                          Dropbox                                     IC5
245                           Google                                      L3
246                         Facebook                                      E3
247                           Amazon                      Research Scientist
248                              IBM                                       7
249                           Amazon                                      L6
250                           Amazon                                      L7
251                              IBM                                       6
252                              IBM                                       7
253                           Amazon                                      L4
254                     Walmart Labs                 Staff Software Engineer
255                         LinkedIn                       Software Engineer
256                          Dropbox                                     IC4
257                           Intuit                                  Senior

In [57]:
df.shape

(60338, 11)

In [27]:
df.dtypes

company                    object
level                      object
title                      object
totalyearlycompensation     int64
location                   object
yearsofexperience           int64
yearsatcompany              int64
basesalary                  int64
stockgrantvalue             int64
bonus                       int64
gender                     object
dtype: object

In [58]:
numeric_features = ['totalyearlycompensation','yearsofexperience','yearsatcompany','stockgrantvalue','bonus']
non_numeric_features = ['company','level','title','location','gender']
features = ['totalyearlycompensation','yearsofexperience','yearsatcompany','stockgrantvalue','bonus','company','level','title','location','gender']

In [47]:
df["totalyearlycompensation"][:5000].value_counts(dropna = False)

143        32
219        31
123        29
142        26
208        25
144        24
181        24
187        24
129        24
185        24
195        24
175        24
233        24
145        23
218        23
168        23
113        23
182        22
173        22
137        22
183        21
149        21
247        21
147        21
159        21
202        21
188        21
193        21
146        21
224        21
198        20
151        20
174        20
221        20
119        20
194        20
186        19
148        19
127        19
235        19
223        19
178        19
199        19
227        19
170        19
184        19
161        19
190        19
155        18
201        18
167        18
154        18
160        18
205        18
279        18
204        18
246        17
274        17
139        17
239        17
220        17
157        17
177        17
128        17
229        17
165        17
121        17
258        17
238        17
217        17
226        17
213        16
141        16
122        16
216        16
197        16
210        16
133        16
243        16
120        16
172        16
215        16
140        16
115        15
209        15
234        15
270        15
237        15
259        15
200        15
132        15
295        15
176        15
291        15
212        15
104        15
323        15
230        15
250        15
196        15
192        15
206        15
300        15
156        15
260        15
171        14
297        14
273        14
253        14
222        14
207        14
277        14
153        14
110        14
134        14
285        14
289        14
152        14
99         14
166        14
164        14
109        14
126        14
254        14
296        14
136        13
130        13
244        13
225        13
211        13
287        13
158        13
332        13
150        13
255        13
231        13
189        13
265        13
286        13
241        13
163        13
263        12
203        12
249        12
124        12
240        12
114        12
162        12
112        12
228        12
107        12
191        12
131        11
281        11
310        11
358        11
101        11
97         11
118        11
294        11
329        11
353        11
278        11
302        11
316        11
264        10
315        10
135        10
318        10
180        10
282        10
267        10
266        10
276        10
262        10
251        10
179        10
288        10
242        10
304        10
116        10
275        10
138        10
320        10
347        10
95         10
283        10
325         9
340         9
106         9
257         9
117         9
98          9
214         9
303         9
284         9
125         9
331         9
356         9
88          9
343         9
105         9
292         9
90          8
314         8
308         8
397         8
94          8
271         8
102         8
252         8
306         8
96          8
245         8
345         8
100         8
76          8
272         8
108         8
299         8
311         8
256         8
261         8
81          7
293         7
72          7
301         7
103         7
89          7
232         7
268         7
92          7
111         7
269         7
335         7
236         7
307         7
298         7
346         7
169         7
365         7
280         7
351         6
344         6
371         6
321         6
334         6
290         6
85          6
324         6
79          6
403         6
450         6
352         6
67          6
339         6
312         6
376         6
381         6
362         6
434         6
342         6
355         6
419         5
369         5
93          5
448         5
86          5
70          5
391         5
337         5
354         5
465         5
404         5
423         5
248         5
455         5
363         5
341         5
398         5
495         5
457         5
417         5
405         5
317         5
68          5
413         5
91          5
55          5
348         5
421         5
309         4
430         4
63          4
406         4
59          4
484         4
453         4
359         4
357         4
64          4
326         4
622         4
572         4
489         4
452         4
366         4
415         4
592         4
501         4
83          4
333         4
336         4
516         4
305         4
668         4
428         4
401         4
414         4
473         4
565         4
496         4
436         4
439         4
400         4
387         4
385         4
367         4
350         4
481         4
80          4
445         4
474         4
377         4
349         4
372         4
361         4
520         4
514         3
503         3
408         3
422         3
386         3
74          3
338         3
380         3
440         3
712         3
82          3
393         3
407         3
477         3
427         3
463         3
330         3
416         3
379         3
23          3
51          3
437         3
84          3
48          3
569         3
466         3
396         3
73          3
568         3
390         3
388         3
433         3
469         3
360         3
449         3
486         3
567         3
319         3
432         3
424         3
382         3
535         3
69          3
327         3
425         3
454         3
392         3
412         3
577         3
410         3
313         3
384         3
431         3
32          3
478         3
374         3
65          3
447         3
456         3
628         3
62          3
540         3
574         3
546         3
322         3
78          3
498         3
56          2
383         2
585         2
619         2
497         2
394         2
409         2
87          2
533         2
502         2
530         2
395         2
578         2
1093        2
472         2
446         2
60          2
485         2
766         2
458         2
511         2
653         2
467         2
554         2
441         2
43          2
564         2
549         2
364         2
77          2
479         2
49          2
522         2
784         2
588         2
509         2
534         2
402         2
593         2
17          2
796         2
373         2
460         2
19          2
492         2
558         2
907         2
626         2
14          2
532         2
482         2
368         2
512         2
375         2
772         2
399         2
582         2
968         2
734         2
459         2
25          2
647         2
27          2
490         2
120113      2
746         2
75          2
429         2
46          2
655         2
722         2
29          2
277819      2
515         2
521         2
464         2
389         2
66          2
256941      1
117304      1
137797      1
581907      1
104584      1
342802      1
504         1
254266      1
720         1
376442      1
531497      1
606         1
822         1
476920      1
193799      1
288009      1
1162164     1
420         1
430011      1
144912      1
124269      1
127622      1
243732      1
271941      1
188804      1
513         1
364209      1
208975      1
153832      1
2017        1
217994      1
351890      1
367092      1
173595      1
47920       1
194202      1
375290      1
1949865     1
184448      1
605682      1
940         1
210461      1
138727      1
317017      1
538         1
247314      1
227496      1
551         1
229404      1
61713       1
42293       1
297033      1
422820      1
117296      1
221255      1
195126      1
413752      1
640         1
80393       1
742498      1
235930      1
170751      1
67865       1
411         1
679         1
24          1
104973      1
167630      1
228790      1
316746      1
444         1
149903      1
268189      1
626620      1
225178      1
109469      1
153712      1
620         1
1242825     1
528         1
202575      1
470         1
635666      1
387841      1
289556      1
148848      1
51933       1
451         1
687         1
7964        1
1076        1
524         1
43100       1
55590       1
1064        1
564399      1
498841      1
214079      1
816         1
439712      1
157928      1
103601      1
33921       1
23864       1
260706      1
302676      1
112023      1
482179      1
120692      1
800610      1
257501      1
18544       1
34          1
198430      1
317022      1
29222       1
94110       1
117289      1
218604      1
178771      1
870         1
159028      1
14722       1
182656      1
311976      1
318414      1
82036       1
229433      1
185463      1
297916      1
148791      1
228184      1
159252      1
281754      1
83564       1
240097      1
132951      1
272976      1
128008      1
178312      1
40305       1
236371      1
171047      1
616721      1
112456      1
110601      1
202991      1
48368       1
71          1
35          1
164989      1
714313      1
51658       1
234153      1
232980      1
724         1
397486      1
276653      1
44747       1
39          1
184129      1
225069      1
155430      1
80182       1
790         1
94217       1
57          1
13          1
25261       1
828         1
200131      1
71568       1
218847      1
370568      1
199621      1
291414      1
91607       1
188513      1
435584      1
220748      1
134511      1
177594      1
1043        1
352305      1
162881      1
166296      1
601134      1
190657      1
956036      1
285546      1
285279      1
86480       1
174651      1
126685      1
205140      1
601         1
6029        1
8834        1
596         1
58          1
54          1
75719       1
485280      1
111086      1
256766      1
873         1
256280      1
108698      1
107382      1
872         1
135281      1
110662      1
57078       1
55962       1
519         1
768         1
483         1
214938      1
153939      1
106656      1
160646      1
243121      1
362128      1
789         1
197750      1
696         1
438         1
190018      1
109121      1
193559      1
215688      1
507         1
40          1
193209      1
526         1
662         1
426         1
1041        1
949         1
187587      1
228891      1
50          1
135923      1
814         1
442         1
20          1
242940      1
31          1
108697      1
708         1
82694       1
566         1
260177      1
308888      1
41          1
38          1
641         1
164000      1
651         1
111720      1
49807       1
258502      1
117687      1
315439      1
541         1
150190      1
989         1
584359      1
669         1
611         1
783         1
72827       1
247051      1
111869      1
315376      1
646         1
506         1
462         1
214175      1
222993      1
536         1
692         1
171348      1
269823      1
30          1
690         1
155397      1
570         1
176802      1
36          1
186170      1
143433      1
2766        1
168692      1
493         1
468         1
604         1
39211       1
699         1
723         1
941         1
149665      1
589         1
579         1
885         1
1661        1
3386013     1
88254       1
144563      1
230323      1
665         1
328         1
249714      1
166246      1
435         1
173982      1
109722      1
22          1
105977      1
320259      1
367487      1
373485      1
127686      1
16          1
129116      1
215415      1
131900      1
678         1
573         1
493420      1
418         1
738473      1
227420      1
45          1
15081       1
114361      1
92167       1
398674      1
686         1
421819      1
196152      1
303486      1
201658      1
224506      1
355372      1
51333       1
853         1
74698       1
53564       1
634         1
52373       1
777         1
583         1
104431      1
120716      1
206599      1
905         1
83905       1
591         1
53          1
139660      1
179368      1
85100       1
904         1
654         1
37408       1
167956      1
730281      1
212026      1
4598        1
231965      1
827         1
897         1
556         1
559         1
143083      1
27305       1
83043       1
638         1
537         1
162061      1
529         1
341243      1
202715      1
203993      1
179075      1
268444      1
305497      1
525         1
607         1
695         1
229504      1
527         1
555         1
193936      1
301630      1
235796      1
188672      1
199618      1
115696      1
527293      1
503119      1
115323      1
639         1
342458      1
179397      1
14356       1
399863      1
47          1
275820      1
274336      1
574964      1
292371      1
190418      1
289427      1
185296      1
531         1
461005      1
106211      1
135775      1
159355      1
481397      1
2057772     1
302298      1
264246      1
290508      1
199144      1
117766      1
372022      1
319623      1
116843      1
650487      1
523         1
229780      1
556416      1
324203      1
697261      1
261489      1
116810      1
226243      1
112042      1
86169       1
67289       1
2039        1
111472      1
287079      1
32075       1
253067      1
69751       1
108566      1
344127      1
71129       1
685150      1
158925      1
306134      1
182568      1
199856      1
61          1
770         1
233735      1
370367      1
1160132     1
233636      1
345590      1
357196      1
401393      1
134246      1
89473       1
224280      1
184379      1
246533      1
209701      1
530550      1
259534      1
96077       1
268481      1
167824      1
243933      1
116226      1
252347      1
195059      1
337081      1
183995      1
685         1
109384      1
227942      1
204125      1
145702      1
757         1
108624      1
837         1
200930      1
332793      1
508         1
223346      1
97370       1
408541      1
147417      1
81056       1
986         1
315766      1
298500      1
203365      1
275461      1
255737      1
156623      1
110344      1
1115270     1
112577      1
144527      1
160499      1
307645      1
50917       1
142551      1
178825      1
246535      1
437229      1
302617      1
803138      1
66718       1
256896      1
504189      1
83431       1
206289      1
152335      1
415828      1
1064507     1
312830      1
1205904     1
415045      1
196944      1
138907      1
175886      1
449184      1
203742      1
659146      1
163401      1
596476      1
315159      1
252934      1
182364      1
260833      1
118585      1
809         1
312646      1
370451      1
235432      1
481630      1
2111744     1
213301      1
174955      1
122620      1
335203      1
190047      1
102026      1
15906       1
299390      1
184415      1
86265       1
787         1
163819      1
163268      1
392266      1
238547      1
315152      1
111529      1
215059      1
207477      1
215979      1
15671       1
629999      1
182967      1
82232       1
469384      1
954223      1
817         1
259757      1
248153      1
127372      1
86059       1
587673      1
164416      1
334382      1
238255      1
851764      1
334920      1
407982      1
120564      1
134716      1
56927       1
618         1
197093      1
135307      1
189056      1
162531      1
175912      1
304303      1
767         1
11014       1
106291      1
122239      1
146183      1
226215      1
200593      1
374882      1
68406       1
256841      1
101006      1
118500      1
544         1
172916      1
158211      1
765         1
288936      1
1077231     1
33301       1
165236      1
18795       1
134695      1
513058      1
103446      1
296077      1
163049      1
125212      1
720754      1
118258      1
178053      1
201908      1
146877      1
58566       1
97513       1
100568      1
70274       1
175835      1
182840      1
10837       1
400776      1
193360      1
222996      1
193749      1
294920      1
110222      1
146276      1
409242      1
208290      1
201220      1
33608       1
387664      1
32589       1
129426      1
21095       1
505         1
339150      1
71762       1
216447      1
1075        1
164975      1
33604       1
19840       1
198870      1
249486      1
13320       1
15639       1
255922      1
532770      1
152681      1
18452       1
9970        1
234849      1
423635      1
160895      1
252270      1
27601       1
110519      1
234373      1
207625      1
595697      1
629         1
396524      1
401729      1
278715      1
222863      1
166079      1
346750      1
624         1
19062       1
463910      1
243766      1
143801      1
656         1
63913       1
56634       1
204135      1
70803       1
363143      1
272999      1
414218      1
173377      1
212147      1
259773      1
207339      1
537732      1
898692      1
214889      1
177906      1
126040      1
523846      1
142483      1
132091      1
138410      1
67843       1
131588      1
430790      1
124502      1
545611      1
348269      1
371805      1
195521      1
169667      1
171941      1
507404      1
267804      1
582092      1
137695      1
13292       1
375558      1
347798      1
94024       1
125135      1
859         1
304697      1
159357      1
161151      1
190868      1
836         1
115307      1
705         1
146469      1
158351      1
234803      1
120394      1
180473      1
241927      1
198005      1
254019      1
147600      1
883         1
378006      1
168258      1
169297      1
404775      1
265442      1
206177      1
2593369     1
476         1
32958       1
292658      1
214645      1
670         1
100122      1
1103071     1
144729      1
1053        1
238008      1
1103282     1
151251      1
211918      1
156183      1
14756       1
223509      1
195721      1
191170      1
105566      1
754268      1
205640      1
285819      1
251119      1
122590      1
1517        1
188567      1
271519      1
221177      1
22889       1
180604      1
356708      1
140954      1
172687      1
199495      1
5362        1
249109      1
317325      1
252399      1
178930      1
161442      1
129838      1
361660      1
177373      1
Name: totalyearlycompensation, dtype: int64

In [59]:
x = df[features]

y = df["basesalary"].values

dev_x, test_x, dev_y, test_y = train_test_split(x, y, test_size=0.2, random_state=2)

In [ ]:
# dev_x = dev_df[features]
# test_x = test_df[features]
# dev_y = dev_df["basesalary"].values
# test_y = test_df["basesalary"].values

In [43]:
df['stockgrantvalue'][:5000].value_counts(dropna=False)

0          563
17          65
6           60
15          59
30          59
9           54
20          54
27          54
7           53
21          53
24          52
26          52
25          51
13          51
5           50
18          50
10          49
14          48
28          46
3           45
19          45
8           45
16          45
32          45
33          44
36          43
29          43
12          42
51          42
45          41
22          39
31          38
23          38
4           37
34          36
35          35
11          34
37          34
41          34
61          33
40          31
44          31
43          31
39          31
42          30
65          30
49          28
53          27
1           26
38          26
52          25
2           25
48          25
56          24
54          24
67          23
50          23
59          23
57          23
72          23
47          22
73          22
62          21
66          21
75          21
81          21
63          21
70          20
55          20
46          20
71          19
60          18
109         18
88          18
83          18
78          17
96          16
68          15
74          15
87          15
93          15
82          14
69          14
100         14
91          14
85          14
58          14
89          14
115         14
106         13
102         13
99          13
86          13
64          13
124         12
119         12
112         12
97          12
92          12
84          12
104         12
77          11
116         11
103         11
79          11
150         11
107         11
121         11
127         11
108         10
98          10
128         10
80          10
118         10
130         10
122         10
125         10
135         10
148          9
155          9
144          9
131          9
94           9
105          8
111          8
154          8
160          8
189          8
120          8
76           8
167          8
95           7
142          7
157          7
129          7
114          7
110          7
90           7
141          7
137          7
166          7
244          7
136          7
139          6
146          6
126          6
174          6
134          6
213          6
123          6
168          6
152          6
158          6
181          6
185          6
113          6
169          6
101          6
164          5
260          5
143          5
202          5
179          5
133          5
180          5
147          5
182          5
149          5
227          5
186          5
132          5
193          5
196          5
153          4
140          4
235          4
173          4
294          4
230          4
359          4
176          4
183          4
257          4
177          4
163          4
138          4
175          4
195          4
252          4
234          4
198          4
232          4
159          4
222          3
156          3
280          3
162          3
212          3
246          3
215          3
242          3
253          3
201          3
264          3
268          3
219          3
392          3
241          3
309          3
211          3
145          3
218          3
297          3
171          3
274          3
208          3
210          3
216          3
194          3
191          3
226          3
316          3
172          3
225          3
209          3
188          3
151          3
345          3
187          3
259          3
296          3
206          3
224          3
192          3
295          2
248          2
217          2
302          2
221          2
214          2
322          2
327          2
538          2
383          2
331          2
328          2
190          2
267          2
406          2
238          2
220          2
284          2
279          2
429          2
347          2
261          2
117          2
362          2
276          2
273          2
178          2
270          2
262          2
305          2
256          2
373          2
283          2
364          2
488          2
239          2
424          2
272          2
432          2
204          2
340          2
344          2
350          2
237          2
197          2
306          2
409          2
207          2
278          2
281          2
128873       1
44838        1
29738        1
228          1
78469        1
147995       1
22837        1
68775        1
47738        1
89831        1
180559       1
3318         1
169267       1
58088        1
41582        1
18116        1
27899        1
11968        1
453          1
52234        1
45511        1
52545        1
43442        1
62734        1
512          1
196092       1
369          1
25143        1
40713        1
308          1
14343        1
8754         1
554          1
361          1
40135        1
380          1
391          1
92699        1
8254         1
249          1
269          1
8188         1
26028        1
59522        1
13872        1
147789       1
26056        1
422          1
462          1
117565       1
116287       1
36133        1
81312        1
111208       1
285308       1
80057        1
486          1
17060        1
49744        1
33353        1
437          1
50266        1
35771        1
25809        1
103904       1
39588        1
3580         1
154214       1
369662       1
11409        1
47846        1
129524       1
49924        1
28998        1
82107        1
9248         1
72459        1
287          1
574          1
137631       1
63406        1
717092       1
42117        1
113189       1
148231       1
282943       1
52702        1
11570        1
20457        1
37274        1
243          1
4185         1
240          1
218126       1
17417        1
16860        1
14360        1
629601       1
50471        1
51327        1
29733        1
144948       1
215681       1
255          1
91274        1
418          1
293          1
88228        1
82829        1
740          1
30656        1
184          1
337          1
41491        1
376          1
298          1
20545        1
116880       1
433          1
145635       1
68361        1
42834        1
357          1
22135        1
304          1
374          1
7815         1
233          1
351          1
732          1
251          1
25030        1
1634         1
60392        1
159803       1
633          1
378          1
229          1
128149       1
288          1
27579        1
476664       1
508          1
59585        1
516          1
285          1
54216        1
656          1
338          1
756          1
13383        1
358          1
371          1
205          1
265          1
165          1
498          1
53489        1
317          1
310          1
618          1
411          1
13252        1
448          1
884          1
318          1
387          1
71573        1
49987        1
330          1
435          1
263          1
85512        1
203          1
78656        1
14796        1
170          1
67611        1
342          1
708          1
223          1
514          1
14165        1
117543       1
36684        1
85654        1
447          1
8603         1
88314        1
13221        1
537          1
67701        1
321          1
43967        1
22395        1
23190        1
213942       1
545          1
315          1
62715        1
81781        1
4891         1
8079         1
116866       1
2525         1
58653        1
891          1
11975        1
13131        1
3458         1
271          1
8168         1
9368         1
1419         1
605          1
33716        1
506          1
18459        1
323          1
408          1
71289        1
13626        1
54907        1
19382        1
247          1
53952        1
194518       1
50708        1
12690        1
299          1
18200        1
621          1
550          1
289          1
24331        1
333          1
8728         1
320          1
34609        1
22297        1
594          1
54989        1
177471       1
384          1
5974         1
77561        1
200          1
112656       1
32395        1
24190        1
286          1
403          1
39908        1
465          1
42745        1
289921       1
13268        1
92835        1
609201       1
24192        1
103197       1
2793         1
73589        1
73936        1
3535         1
211814       1
295543       1
27885        1
64711        1
19754        1
28576        1
94961        1
38958        1
50678        1
24219        1
67198        1
71847        1
6019         1
351718       1
18864        1
216416       1
34854        1
67675        1
347289       1
18411        1
20219        1
37176        1
51510        1
516109       1
131514       1
48235        1
120672       1
736863       1
268425       1
51992        1
69292        1
139647       1
31638        1
14799        1
44259        1
186410       1
38167        1
706363       1
25456        1
5357         1
46606        1
82083        1
27023        1
5639         1
238098       1
50631        1
161063       1
369844       1
15337        1
46925        1
907808       1
2296728      1
34015        1
1201         1
79699        1
192590       1
59154        1
38620        1
406459       1
163912       1
152848       1
423489       1
20498        1
252379       1
73899        1
23802        1
31959        1
61573        1
110405       1
34861        1
139778       1
1759         1
32457        1
4186         1
108230       1
199525       1
132710       1
162285       1
85922        1
7661         1
1581036      1
91193        1
56321        1
108813       1
181449       1
23239        1
27087        1
188301       1
544          1
105706       1
29861        1
19556        1
5849         1
3140803      1
1320         1
47530        1
412          1
35989        1
14169        1
32196        1
91494        1
107892       1
277          1
46079        1
33978        1
55371        1
52111        1
8882         1
8364         1
4549         1
267130       1
8398         1
133965       1
22421        1
19234        1
27366        1
28357        1
5269         1
98067        1
510045       1
21188        1
29347        1
52213        1
105409       1
324          1
149193       1
155270       1
17252        1
82258        1
952489       1
29088        1
91510        1
348986       1
40406        1
134368       1
27173        1
64804        1
29802        1
349          1
254440       1
164169       1
109491       1
31738        1
319011       1
234424       1
584          1
338942       1
426573       1
188292       1
60585        1
328301       1
14962        1
50252        1
626014       1
305594       1
6093         1
30452        1
66114        1
4350         1
146436       1
42978        1
105082       1
255814       1
38599        1
42090        1
48434        1
28959        1
37081        1
100637       1
103351       1
16694        1
13804        1
104049       1
147493       1
9860         1
11902        1
138758       1
368981       1
353          1
68214        1
22823        1
234891       1
189640       1
396992       1
180364       1
193694       1
27117        1
15302        1
13591        1
134467       1
245          1
55481        1
74517        1
97709        1
34467        1
31789        1
335620       1
98645        1
35088        1
20694        1
43561        1
260596       1
190036       1
109366       1
22662        1
359290       1
25864        1
89595        1
6851         1
64521        1
80914        1
59159        1
72243        1
18353        1
3788         1
349768       1
296132       1
180159       1
17067        1
684882       1
18085        1
61164        1
464          1
11430        1
1055359      1
114522       1
62761        1
67297        1
13921        1
12549        1
27397        1
292          1
492          1
30017        1
154608       1
3176         1
571          1
7736         1
126264       1
36677        1
10206        1
172766       1
431          1
111699       1
49136        1
26055        1
68374        1
81930        1
76403        1
2433         1
16529        1
109688       1
27602        1
89689        1
16502        1
368          1
101341       1
47550        1
24147        1
241902       1
46528        1
109051       1
137810       1
129618       1
63533        1
9141         1
31903        1
105022       1
323691       1
145847       1
20586        1
183566       1
1890         1
39286        1
11762        1
19399        1
47882        1
224622       1
1860458      1
37546        1
45740        1
7318         1
9082         1
150976       1
42829        1
5876         1
111974       1
27483        1
189127       1
168520       1
6543         1
565          1
57384        1
93406        1
206369       1
6756         1
211241       1
182936       1
13225        1
325720       1
5278         1
1206         1
236          1
399          1
8689         1
4247         1
73464        1
45689        1
704591       1
2143         1
4445         1
323667       1
34236        1
389901       1
66041        1
476          1
121352       1
214579       1
16304        1
20321        1
638          1
293763       1
147482       1
40372        1
95569        1
71803        1
998780       1
22098        1
49231        1
174582       1
36681        1
1076085      1
118049       1
488862       1
173602       1
42508        1
496719       1
646          1
32205        1
132948       1
132353       1
26849        1
151110       1
111370       1
168451       1
8642         1
391708       1
872514       1
834          1
23790        1
241824       1
23619        1
Name: stockgrantvalue, dtype: int64

In [60]:
class MetaTransformer(BaseEstimator, TransformerMixin):

    def __init__(self, transformer=None):
        self.transformer = transformer
        
    def fit(self, X, y=None):
        if self.transformer:
            self.transformer.fit(X, y)
        return self
    
    def transform(self, X, y=None):
        if self.transformer:
            return self.transformer.transform(X)
        else:
            return X

In [61]:
preprocessor = ColumnTransformer([
        ("num",Pipeline([("scaler", MetaTransformer())]), 
                numeric_features),
        ("nom", Pipeline([("imputer", SimpleImputer(missing_values=np.nan, strategy="most_frequent")),
            ("binarizer", OneHotEncoder(handle_unknown="ignore"))]), 
                non_numeric_features)],
        remainder="passthrough")

In [62]:
knn_model = Pipeline([
    ("preprocessor", preprocessor),
    ("predictor",KNeighborsRegressor())])
knn_param_grid = {"predictor__n_neighbors": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                  "preprocessor__num__scaler__transformer": [StandardScaler(), MinMaxScaler(), RobustScaler()]}
knn_gs = GridSearchCV(knn_model, knn_param_grid, scoring="neg_mean_absolute_error",cv=10,refit=True)
knn_gs.fit(dev_x, dev_y)
knn_gs.best_params_, knn_gs.best_score_

KeyboardInterrupt:

In [ ]:
scores = cross_validate(l, dev_x, dev_y, cv=10, scoring="neg_mean_absolute_error", return_train_score=True)
print("Training error: ", np.mean(np.abs(scores["train_score"])))
print("Validation error: ", np.mean(np.abs(scores["test_score"])))