<h1> H&M Dataset Analysis</h1>
<ul>
    <li>Dataset Info</li>
    <li>Customer Info</li>
    <li>Transaction Info</li>
    <li>Random Recommenmder</li>
    <li>Popularity Based Recommender</li>
</ul>

In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
import pandas as pd
import random

<h2> Dataset Info </h2>
<p> 
    The transactions_train.csv has over <b>13 Million</b> Transactions resulting in a 3.5GB File.
    I picked a sample data of over 2 million transactions resulting in a file of 200MB. 
    This was done by selecting the transaction rows with the date greater than 2020-08-01 and
    deleting the rest using the method taught in the AI1 Lab.
    Then the resulting sample dataframe was converted into csv using to_csv method.
    
</p>
<p> 
    The OtherBig Data was spilitted by choosing the products and customers 
    that were in the sample transactions above and was done by the 
    following process
</p>
<ol>
    <li>Sample transaction dataframe was merged with the products and customers dataframe.</li>
    <li>
        The resulting dataframe was then re-assigned to the merged 
        dataframe, all the "product" columns were choosen for
        the sample products dataset and "customer" columns for the
        sample customer dataset. The duplicates 
        were dropped.
    </li>
    <li>The resulting data frame was converted to csv</li>
</ol>
</p>Below is the commented Code </p>
<p>
    # TRANSACTIONS
    # transaction_df = transaction_df[transaction_df['t_dat'] > '2020-08-01'].copy()
    # transaction_df.to_csv('datasets/transactions_sample.csv')
    
    # ARTICLES (PRODUCTS)
    # merged_df = transaction_df.merge(articles_df)
    # merged_df = merged_df[['article_id', 'product_code', 'prod_name', 'product_type_no',
    #    'product_type_name', 'product_group_name', 'graphical_appearance_no',
    #    'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
    #    'perceived_colour_value_id', 'perceived_colour_value_name',
    #    'perceived_colour_master_id', 'perceived_colour_master_name',
    #    'department_no', 'department_name', 'index_code', 'index_name',
    #    'index_group_no', 'index_group_name', 'section_no', 'section_name',
    #    'garment_group_no', 'garment_group_name', 'detail_desc']].copy().drop_duplicates()
    # merged_df.to_csv('datasets/articles_sample.csv')
    
    # CUSTOMERS
    # cust_merge_df = transaction_df.merge(customers_df)
    # cust_merge_df = cust_merge_df[['customer_id', 'FN', 'Active', 'club_member_status',
    #    'fashion_news_frequency', 'age', 'postal_code']].copy().drop_duplicates()
    # cust_merge_df.to_csv('datasets/customers_sample.csv')
    

</p>

<h2> Product Info </h2>

In [4]:
articles_df = pd.read_csv("../../recommender_systems/datasets/articles_sample.csv")
transaction_df = pd.read_csv("../../recommender_systems/datasets/transactions_sample.csv")
customers_df = pd.read_csv("../../recommender_systems/datasets/customers_sample.csv")
pd.set_option("display.max_rows", None)

<p>
    Based on how I have spillited the data
    All the customer that appear in the transaction must be present in  
    the customer dataframe. This test was done by getting all the
    customers from the transactions dataframe and then checked if they are  
    equal to the number of the customers in the customers dataframe
    

</p>

In [ ]:
len(transaction_df['customer_id'].unique())
customers_df['customer_id'].count()

<p> Similarly, the products dataset was tested </p>

In [ ]:
len(transaction_df['article_id'].unique())
articles_df['article_id'].count()

In [ ]:
articles_df.shape

In [ ]:
articles_df.columns

In [5]:
articles_df['product_group_name'].describe()

count                  34636
unique                    17
top       Garment Upper body
freq                   12789
Name: product_group_name, dtype: object

In [ ]:
articles_df['product_group_name'].value_counts(dropna=False) 
# dropna = False include the NaN values

In [ ]:
articles_df['product_type_name'].describe()

In [ ]:
articles_df['product_type_name'].value_counts(dropna=False)

In [ ]:
articles_df['colour_group_name'].describe()

In [ ]:
articles_df['colour_group_name'].value_counts(dropna=False)

In [ ]:
articles_df['graphical_appearance_name'].describe()

In [ ]:
articles_df['graphical_appearance_name'].value_counts(dropna=False)

In [ ]:
transaction_df['article_id'].value_counts() # Each product with its frequency of sales

In [ ]:
articles_df[articles_df['article_id'] == 706016001] # Most popular item

In [ ]:
articles_df[articles_df['article_id'] == 918292001] #second most popular item

In [ ]:
# most popular color
# most popular type
merged_df = transaction_df.merge(articles_df ,left_on='article_id', right_on='article_id')

In [ ]:
merged_df.shape

In [ ]:
transaction_df.shape

In [ ]:
# top 5 most purchased colors
merged_df['colour_group_name'].value_counts().nlargest(5)

In [ ]:
# top 5 most purchased garment
merged_df['product_group_name'].value_counts().nlargest(5)

In [ ]:
# top 5 most purchased type
merged_df['product_type_name'].value_counts().nlargest(5)

<h2> Customer Info </h2>

In [ ]:
customers_df.columns

In [ ]:
customers_df['Active'].describe()

In [ ]:
customers_df['Active'].value_counts(dropna=False)# total number customer that are currently active

In [ ]:
customers_df['age'].describe()

In [ ]:
customers_df['age'].value_counts(dropna=False)

In [ ]:
transaction_df.groupby('customer_id')['price'].aggregate('sum') # Every Customer with their total spendings

In [ ]:
transaction_df.groupby('customer_id')['price'].aggregate('sum').describe() # average purchases

In [ ]:
transaction_df.groupby('customer_id')['price'].aggregate('sum').nlargest(3) # top 3 customers with highests purchases

In [ ]:
# Top 3 customers with highest number of transactions
transaction_df['customer_id'].value_counts(dropna=False).nlargest(5)

<h2> Transaction info </h2>

In [ ]:
transaction_df.columns

In [ ]:
transaction_df.shape

In [ ]:
transaction_df['t_dat'].min()

In [ ]:
transaction_df['t_dat'].max()

In [ ]:
# shows how many items were bought per percentage of customer
# Number of items purchased by the customers on avrage

transaction_df.groupby('customer_id')['article_id'].count().describe()

In [ ]:
# shows percentage of how much money was spent per customer 
# in total 359222 customer had purchased items. On avrage a customer spends 0.16....
# 0.00056 was the lowest that was ever  spent
# 11.6 was the maximum that an individual customer spent
# average percentage of customers twith their spendings
transaction_df.groupby('customer_id')['price'].sum().describe()

<h2> Random Recommender </h2>

In [ ]:
customers = customers_df.to_records()[-5:]

In [ ]:
# Recommeding an individual product
# can recommend a specific color randomly
# can recommend items from  specific department randomly
# But I just kept it sime and recommend 5 individual products 

def random_recommender(customer):
    print(f"{customer.customer_id} ", random.choice(articles_df[['article_id','product_group_name','prod_name','colour_group_name']].values))

In [ ]:
for customer in customers:
    random_recommender(customer)

<h2> Popularity Based Recommender </h2>

In [ ]:
# recommends 5 most purchased items
def  popularity_recommender(customer):
    # Top 5 most bought
    popular_products = transaction_df['article_id'].value_counts().nlargest(5).to_frame()['article_id'].keys().values
    for product in popular_products:
        print(articles_df[['prod_name','product_group_name','colour_group_name']][articles_df['article_id'] == product],'\n')

In [ ]:
popularity_recommender(customers[1])